<p>roles works!</p>
<div class="row">
    <div class="col-3">
        <p>{{firstName}}</p>
    </div>
    <div class="col-3">
        <p>{{currentDate}}</p>
    </div>
    <div class="col-3">
        <p>{{selectedState}}</p>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <input type="text" [(ngModel)]="firstName" class="form-control"/>
    </div>
    <div class="col-3">
        <select [(ngModel)]="selectedState">
                <option value="FL">FL</option>
                <option value="AL">AL</option>
                <option value="IN">IN</option>
        </select>
    </div>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-success" (click)="showWelcomeAlert()">Show Welcome</button>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-success" (click)="showMessage('Welcome React')">Show React Message</button>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-success" (click)="showMessage('Welcome Dot Net')">Show Dot Net Message</button>
        </div>
    </div>
</div>